.container-login{
    max-width: 312px;

}
.login-title{
    color: rgba(0, 0, 0, 0.80);
text-align: center;
font-family: Poppins;
font-size: 24px;
font-style: normal;
font-weight: 700;
line-height: normal;
margin-top: 119px;
margin-bottom: 43px;
}
.login-email{
    width: 312px;
height: 48px;
flex-shrink: 0;
border-radius: 10px;
border: 1px solid rgba(0, 0, 0, 0.40);
background: rgba(255, 255, 255, 0.08);
margin-bottom: 28px;
}
.login-email::placeholder {

    padding-left: 10px;
    color: rgba(0, 0, 0, 0.70);
    font-family: Poppins;
    font-size: 12px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    
  }
  .login-password {
    display: flex;
    align-items: center;
    position: relative;
}

.login-password__button {
    width: 312px;
    height: 48px;
    flex-shrink: 0;
    border-radius: 10px;
    border: 1px solid rgba(0, 0, 0, 0.40);
    background: rgba(255, 255, 255, 0.08);
    padding-right: 40px; /* Thêm padding để để chứa icon */
}


.login-password__icon {
    position: absolute;
    top: 10%;
    right: 10px;
}

.login-password__icon img {
    width: 20px;
    height: auto;
}

/* Ẩn password khi nhập */
.login-password__button[type="password"] {
    font-family: "Courier New", Courier, monospace; /* Đảm bảo các dấu chấm có kích cỡ giống nhau */
    -webkit-text-security: disc; /* Ẩn text và hiển thị dấu chấm */
    input-security: disc;
}

.login-password__button::placeholder{
    padding-left: 10px;
    color: rgba(0, 0, 0, 0.70);
    font-family: Poppins;
    font-size: 12px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
}
.Forgot-Password{
    color: #2F89FC;
font-family: Poppins;
font-size: 14px;
font-style: normal;
font-weight: 500;
line-height: normal;
text-align: center;
margin-top: 12px;
margin-bottom: 20px;
}
.login-password{
    position: relative;
}
.login-password__icon{
    position: absolute;
    top: 25%;
    right: 5%;
}
.login-password__icon a img{
    width: 24px;
height: 24px;
flex-shrink: 0;
}
.login-click__button button {
    padding-left: 30px;
    color: rgba(255, 255, 255, 0.90);
font-family: Poppins;
font-size: 14px;
font-style: normal;
font-weight: 600;
line-height: normal;
text-align: center;
    width: 312px;
    height: 48px;
    flex-shrink: 0;
    border-radius: 5px;
    background: var(--drak__blue);
    border: none;
    padding-right: 40px; /* Thêm padding để để chứa icon */
    border-radius: 8px;
    transition: all 1s ease;
    display: inline-block;
    overflow: hidden;
    position: relative;
    text-transform: capitalize;
    box-shadow: 0 4px 6px -1px rgba(0, 0, 0, 0.1),
      0 2px 4px -2px rgba(0, 0, 0, 0.1);
  }
  .login-click__button button::before {
    content: "";
    position: absolute;
    left: -100%;
    top: 0;
    width: 100%;
    height: 100%;
    background: linear-gradient(
      90deg,
      transparent,
      rgba(255, 255, 255, 0.9),
      transparent
    );
    transition: all linear 0.5s;
  }
  .llogin-click__button button:hover {
    background-color: #1dc071;
    color: #fff;
  }
  .login-click__button button:hover::before {
    left: 100%;
  }



.login-text{
    display: flex;

}
.login-text{
    justify-content: center;
}
.login-text p:first-of-type{
    color: rgba(0, 0, 0, 0.80);
font-family: Poppins;
font-size: 14px;
font-style: normal;
font-weight: 500;
line-height: normal;
margin: 16px 4px 10px 16px;
}
.login-text p:last-of-type{
    color: #2F89FC;
font-family: Poppins;
font-size: 14px;
font-style: normal;
font-weight: 500;
line-height: normal;
margin: 16px 5px 5px 5px;
}
.login-click__facebook button{
    width: 312px;
height: 48px;
flex-shrink: 0;
border-radius: 10px;
background: #1877F2;
border: none;
color: rgba(255, 255, 255, 0.90);
font-family: Poppins;
font-size: 14px;
font-style: normal;
font-weight: 600;
line-height: normal;
}
.login-click__facebook{
    position: relative;
}
.login-click__facebook img{
    position: absolute;
    top: 20%;
    left: 5%;
}

.login-click__facebook button {
    padding-left: 50px;
    width: 312px;
    height: 48px;
    flex-shrink: 0;
    border-radius: 10px;
    background: #1877F2;
    padding-right: 40px; /* Thêm padding để để chứa icon */
    border-radius: 8px;
    transition: all 1s ease;
    display: inline-block;
    overflow: hidden;
    position: relative;
    text-transform: capitalize;
    box-shadow: 0 4px 6px -1px rgba(0, 0, 0, 0.1),
      0 2px 4px -2px rgba(0, 0, 0, 0.1);
  }
  .login-click__facebook button::before {
    content: "";
    position: absolute;
    left: -100%;
    top: 0;
    width: 100%;
    height: 100%;
    background: linear-gradient(
      90deg,
      transparent,
      rgba(255, 255, 255, 0.9),
      transparent
    );
    transition: all linear 0.5s;
  }
  .login-click__facebook button:hover {
    background-color: #1dc071;
    color: #fff;
  }
  .login-click__facebook button:hover::before {
    left: 100%;
  }


.login-text__or{
    display: flex;
    margin-bottom: 23px;
}

.login-text__or p{
    margin: 0 9px 0 9px;
}
.login-click__google button{
    margin-top: 20px;
 width: 312px;
height: 48px;
flex-shrink: 0;
border-radius: 10px;
border: 1px solid rgba(0, 0, 0, 0.40);
background: rgba(255, 255, 255, 0.02);
color: rgba(0, 0, 0, 0.60);
font-family: Poppins;
font-size: 14px;
font-style: normal;
font-weight: 600;
line-height: normal;
}
.login-click__google{
    position: relative;
}
.login-click__google img{
    position: absolute;
    top: 48%;
    left: 5%;

}
.login-click__google button {
    padding-left: 50px;
    margin-top: 20px;
 width: 312px;
height: 48px;
flex-shrink: 0;
border-radius: 10px;
border: 1px solid rgba(0, 0, 0, 0.40);
background: rgba(255, 255, 255, 0.02);
color: rgba(0, 0, 0, 0.60);
    padding-right: 40px; /* Thêm padding để để chứa icon */
    border-radius: 8px;
    transition: all 1s ease;
    display: inline-block;
    overflow: hidden;
    position: relative;
    text-transform: capitalize;
    box-shadow: 0 4px 6px -1px rgba(0, 0, 0, 0.1),
      0 2px 4px -2px rgba(0, 0, 0, 0.1);
  }
  .login-click__google button::before {
    content: "";
    position: absolute;
    left: -100%;
    top: 0;
    width: 100%;
    height: 100%;
    background: linear-gradient(
      90deg,
      transparent,
      rgba(255, 255, 255, 0.9),
      transparent
    );
    transition: all linear 0.5s;
  }
  .login-click__google button:hover {
    background-color: #1dc071;
    color: #fff;
  }
  .login-click__google button:hover::before {
    left: 100%;
  }


.login-click__help{
    margin-top: 74px;
   margin-bottom: 8px;
    display: flex;
   
  align-items: center; /* Canh giữa theo chiều dọc */
}
.login-click__help p{
    color: #000;
font-family: Poppins;
font-size: 12px;
font-style: normal;
font-weight: 700;
line-height: normal;
opacity: 0.5;
margin-left: 6px;


}

/* sigin */
.sigin-container{
    max-width: 312px;
}
.login-click__buttonsigin{
    margin-top: 30px;
    border-radius: 5px;
}
.login-click__googleSigin{
    margin-bottom: 10px;
}